.Home{
    background-color: #dafff6;
}

.container {
    position: relative;
    
}


.page {
    position: absolute;
    margin-top:7em;
    color: #006b6c;
    max-width: 50%;
    height: 50%;
    margin-left: 7em;
    justify-content: center;
    align-items: center;
}

.email {
    width: 40vw; 
    height: 50vh;
    position: absolute;
    top: 6em;
    right: 15%;
    transform: rotate(5deg);
}

.ImageCenter {
    justify-content: center;
    color: #006b6c;
    align-items: center;
    margin-left: 30%;
    margin-top: 10%;
}

